.popup__input-error {
    display: block;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #FF0000;
    width: 100%;
    min-width: 238px;
    min-height: 30px;
    margin: 0;
}