.profile__add-button {
    cursor: pointer;
    box-sizing: border-box;
    background-image: url(../../../images/add-button.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 22px 22px;
    background-color: #000000;
    border: 2px solid #FFFFFF;
    border-radius: 2px;
    width: 150px;
    height: 50px;
    grid-area: add-button;
    align-self: center;
    justify-self: center;
}

.profile__add-button:hover {
    opacity: 0.6;
}

/*стили для маленьких мониторов и мобильных устройств*/

@media screen and (max-width: 1060px) {
    .profile__add-button {
        width: 282px;
        background-size: 16px 16px;
    }
}