.authorization {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 0 80px 0;
    width: 358px;
}

@media screen and (max-width: 1060px) {
    .authorization {
        width: 100%;
        padding: 40px 30px 77px 30px;
    }
}