.header {
    width: 100%;
    max-width: 880px;
    box-sizing: border-box;
    padding: 45px 0 0 0;
    margin: 0, auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

/*стили для экранов до 768 пикселей*/

@media screen and (max-width: 768px) {
    .header {
        padding: 28px 0 0;
    }
}