.authorization__submit-button {
    width: 100%;
    height: 50px;
    background: #FFFFFF;
    border-radius: 2px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #000000;
    margin-top: 186px;
    cursor: pointer;
}

.authorization__submit-button:hover {
    opacity: 0.85;
}